html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: contain;
  background-color: #013316
}
canvas {
  overflow: hidden;
  display: block;
  border: 0px solid #000;
}

#welcomeMsg {
  position: absolute;
  font-family:'Georgia', serif;
  z-index: 90;
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  max-height: 80vh;
  padding: 20px;
  overflow-y: scroll;
  background-color: rgba(250, 238, 221, 0.85);
  font-size: 18px;
  box-shadow: 5px 5px 200px #000;
  overscroll-behavior: auto;
}

#settingsMenu, #credits {
  position: absolute;
  top: 25vh;
  height: 50vh;
  left: 25vw;
  width:50vw;
  z-index: 99;
  background: rgba(250, 238, 221, 0.85);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#settingsMenu div, #credits div {
  padding: 10px;
  overflow: auto;
}

form {
  text-align: center;
}

#settingsClose, #creditsClose {
  font-size: 16px;
  color: #ffffff;
  background-color: #cc3333;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 14px 16px;
}

#welcomeClose {
  font-size: 16px;
  color: #ffffff;
  background-color: #004a15;
  margin-left: calc(50% - 75px);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  padding: 14px 16px;
}

#btnBar {
  position: absolute;
  right: 0;
  top: 0;
}

#recordingLight {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  border-radius: 6px;
  background-color: red;
  border: 1px solid red;
  box-shadow: 0px 0px 5px #ff3333;
}

#btnBar button {
  background-color: rgb(255, 246, 234);
  font-size: 16px;
  border-radius: 0 0 8px 8px;
  border-style: none;
  padding: 3px;
  min-height: 26px;
  box-shadow: 0px 0px 5px #000000;
}

#promptWindow {
  position: absolute;
  width: 50vw;
  max-width: 600px;
  left: max(25vw, calc(50vw - 300px));
  top: 15px;
  height: 60px;
  background-color: rgba(256,256,256,0.6);
  padding: 5px;
  overflow-y: scroll;
  scrollbar-width: 10px;
  scroll-snap-align: bottom;
  scrollbar-color: #fff;
}

#instructions {
  position: absolute;
  text-align: center;
  padding: 25px;
  width: 20vw;
  height: fit-content;
  left: 5vw;
  bottom: 0;
  display: block;
  color: #faebd7;
}

span.key {
  color: rgb(75,5,5);
  background-color: rgb(255, 246, 234);
  font-size: 16px;
  border-radius: 8px;
  padding: 3px;
}